.led {
  border: 1px solid black;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  background-color: black;
}

#rgb-led,
#rhythm-led {
  fill: black;
}

:is(
    #up-pgm-button,
    #down-pgm-button,
    #hold-button,
    .chord-button,
    .harp-button
  ):not([aria-disabled="true"]) {
  fill: lightgray;
  cursor: pointer;
}
